<script type="text/javascript">
  $(document).ready(function(){
    load();
  });

  function load(){
    $('#nav_classi').load('../script/elencoclassi.php', function(){
        $('.circle').each(function(){
          $(this).circleProgress({
            value: $(this).attr("value"),
            size: 100,
            fill: {
              gradient: ["blue", "green", "red", "yellow"]
            }
          }).on('circle-animation-progress', function (e, p, v) {
            $(this).children('.value').text((v * 100 ).toFixed()+"%");
          });
        });

        $('.tablinks').click(function(){
          Cookies.set("classe", $(this).attr('value'));
          $('.tablinks').removeClass("active");
          $(this).addClass("active");
          $('#presenti').load('../script/presenti.php');
          $('#assenti').load('../script/assenti.php');
          $('#btn_fatto').hide();
          $('#btn_modifica').show();
        });

        $(".assente").click(function(){
          $(this).parent().parent().parent().fadeOut("slow");
          $.post( "../script/rimuovi.php", {
            id: $(this).parent().parent().parent().attr('value')
          }).done(function(){
                  load();
          });
        });

        $(".presente").click(function(){
            $('.entrata').slideUp("slow");
            $('.add').show();
            $(this).parent().parent().next().slideDown("slow");
            $(this).hide();
        });

        $(".inserisci").click(function(){
          $(this).parent().parent().next().slideUp("slow");
          $(this).parent().fadeOut("slow");
          $.post( "../script/inserisci.php", {
            id: $(this).attr('id'),
            hour: $(this).prev().prev().prop('value'),
            min: $(this).prev().prop('value')
          }).done(function(){
                  load();
          });
        });
    });
    $('#presenti').load('../script/presenti.php');
    $('#assenti').load('../script/assenti.php');

    $("#btn_fatto").hide();
    if ((Cookies.get("classe")==null)) {
      $("#btn_modifica").hide();
    }else {
      $("#btn_modifica").show();
    }
  }

  function change(id) {
      if (id=="btn_modifica") {
        $("#btn_modifica").hide();
        $("#btn_fatto").show();
        $(".presente").show();
        $(".assente").show();
      }else if (id=="btn_fatto"){
        $("#btn_fatto").hide();
        $("#btn_modifica").show();
        $(".presente").hide();
        $(".assente").hide();
      }
  }

  function getdata(id_classe){

  }
</script>
<div class="" style="text-align: center">
  <h3><strong>Elenco classi</strong></h3>
</div>
<div class="tab row placeholders">

  <div id="nav_classi">

  </div>

</div>
  <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 gutter">
          <h1 style="font-weight: bold">Presenti</h1>
          <div id="presenti" >

          </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 gutter">
          <h1 style="font-weight: bold">Assenti</h1>
          <div id="assenti">

          </div>
      </div>
  </div>
  <div id="datainfo" class="tabcontent">

  </div>
